n8n/flujos/llm_mcp_client_factura.json
{
  "name": "Procesamiento Inteligente de Facturas con LLM y MCP Client",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analizar-factura",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer información del archivo recibido\nconst fileData = $input.item.binary.data;\nconst fileName = $input.item.json.filename || 'factura.pdf';\nconst fileExtension = fileName.split('.').pop().toLowerCase();\nconst supplierName = $input.item.json.supplier_name || null;\n\n// Validar el archivo\nif (!fileData) {\n  throw new Error('No se ha proporcionado ningún archivo');\n}\n\nif (fileExtension !== 'pdf' && fileExtension !== 'jpg' && fileExtension !== 'jpeg' && fileExtension !== 'png') {\n  throw new Error('Formato de archivo no soportado. Por favor, sube un PDF o una imagen (JPG, JPEG, PNG)');\n}\n\n// Preparar la salida\nreturn {\n  json: {\n    fileData,\n    fileName,\n    fileExtension,\n    supplierName,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/api/v1/mistral-free-ocr/process-invoice",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$json[\"token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "multipartFormData",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}",
              "contentType": "={{ $binary.mimeType }}"
            },
            {
              "name": "create_in_odoo",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Texto OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Analiza la siguiente factura extraída por OCR y extrae la información estructurada en formato JSON. Incluye los siguientes campos:\n\n1. Número de factura\n2. Fecha de factura\n3. Proveedor (nombre)\n4. CIF/NIF del proveedor\n5. Base imponible\n6. IVA (porcentaje y cantidad)\n7. Total factura\n8. Líneas de productos (con código, descripción, cantidad, precio unitario)\n\nTexto OCR de la factura:\n{{$json[\"ocr_result\"][\"text\"]}}\n\nSi algún campo no está presente en el texto, indica \"No disponible\". Asegúrate de validar el formato del CIF/NIF español y corregirlo si es necesario. Para los códigos de producto de NEVIR, deben seguir el formato NVR-XXXXX.\n\nFormato esperado de respuesta:\n```json\n{\n  \"numeroFactura\": \"XXX\",\n  \"fechaFactura\": \"DD/MM/YYYY\",\n  \"proveedor\": \"Nombre del Proveedor\",\n  \"cifNif\": \"X00000000\",\n  \"baseImponible\": 0.00,\n  \"iva\": {\n    \"porcentaje\": 21,\n    \"importe\": 0.00\n  },\n  \"totalFactura\": 0.00,\n  \"lineasProductos\": [\n    {\n      \"codigo\": \"XXX\",\n      \"descripcion\": \"XXX\",\n      \"cantidad\": 0,\n      \"precioUnitario\": 0.00\n    }\n  ],\n  \"observaciones\": \"Cualquier información adicional relevante\"\n}\n```",
        "options": {
          "temperature": 0.2
        }
      },
      "name": "Analizar con LLM",
      "type": "n8n-nodes-langchain.llmchain",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "sseEndpoint": "http://localhost:3000/v1/mcp",
        "authentication": "none",
        "toolsToInclude": "all"
      },
      "name": "MCP Client",
      "type": "n8n-nodes-langchain.toolmcp",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "=Actúa como un asistente experto en contabilidad y procesamiento de facturas. Analiza la siguiente información de factura extraída por OCR y procesada por un LLM:\n\n```json\n{{$json[\"text\"]}}\n```\n\nTu tarea es:\n\n1. Validar la información extraída (verificar que el CIF/NIF tiene formato correcto, que los totales cuadran, etc.)\n2. Identificar posibles errores o inconsistencias\n3. Sugerir correcciones si es necesario\n4. Clasificar la factura según su tipo (compra, servicio, etc.)\n5. Recomendar la cuenta contable adecuada según la naturaleza de la factura\n\nUtiliza las herramientas MCP disponibles si necesitas buscar información adicional sobre el proveedor, verificar datos o realizar cálculos complejos.\n\nProporciona tu análisis en formato estructurado y fácil de leer.",
        "options": {
          "temperature": 0.3
        },
        "tools": [
          "={{$node[\"MCP Client\"].json[\"tools\"]}}"
        ]
      },
      "name": "Analizar y Validar con LLM + MCP",
      "type": "n8n-nodes-langchain.llmchain",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Procesar la respuesta del LLM\nconst llmResponse = $input.item.json.text;\nlet datosFactura = {};\nlet recomendaciones = {};\n\n// Intentar extraer el JSON si está presente\nconst jsonMatch = llmResponse.match(/```json\\s*([\\s\\S]*?)\\s*```/);\nif (jsonMatch && jsonMatch[1]) {\n  try {\n    datosFactura = JSON.parse(jsonMatch[1]);\n  } catch (error) {\n    // Si hay error al parsear, usar el texto completo\n    console.log('Error al parsear JSON:', error.message);\n  }\n}\n\n// Extraer recomendaciones (texto fuera del JSON)\nconst textoSinJson = llmResponse.replace(/```json\\s*[\\s\\S]*?\\s*```/, '').trim();\nrecomendaciones = {\n  texto: textoSinJson,\n  cuentaContable: textoSinJson.match(/cuenta contable[:\\s]*(\\d+)/i)?.[1] || 'No especificada',\n  tipoFactura: textoSinJson.match(/tipo[:\\s]*([^\\n.]+)/i)?.[1] || 'No especificado',\n  erroresDetectados: textoSinJson.includes('error') || textoSinJson.includes('inconsistencia')\n};\n\n// Preparar datos para Odoo\nconst datosOdoo = {\n  invoice_number: datosFactura.numeroFactura,\n  invoice_date: datosFactura.fechaFactura,\n  supplier_name: datosFactura.proveedor,\n  supplier_vat: datosFactura.cifNif,\n  amount_untaxed: datosFactura.baseImponible,\n  amount_tax: datosFactura.iva?.importe || 0,\n  amount_total: datosFactura.totalFactura,\n  invoice_lines: datosFactura.lineasProductos?.map(linea => ({\n    product_code: linea.codigo,\n    name: linea.descripcion,\n    quantity: linea.cantidad,\n    price_unit: linea.precioUnitario\n  })) || [],\n  account_code: recomendaciones.cuentaContable,\n  invoice_type: recomendaciones.tipoFactura\n};\n\nreturn {\n  json: {\n    success: true,\n    datosFactura,\n    recomendaciones,\n    datosOdoo,\n    analisisCompleto: llmResponse\n  }\n};"
      },
      "name": "Procesar Respuesta LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "content": "=## Análisis Inteligente de Factura\n\n### Datos Extraídos\n- **Número**: {{$json[\"datosFactura\"][\"numeroFactura\"]}}\n- **Fecha**: {{$json[\"datosFactura\"][\"fechaFactura\"]}}\n- **Proveedor**: {{$json[\"datosFactura\"][\"proveedor\"]}}\n- **CIF/NIF**: {{$json[\"datosFactura\"][\"cifNif\"]}}\n- **Base Imponible**: {{$json[\"datosFactura\"][\"baseImponible\"]}} €\n- **IVA**: {{$json[\"datosFactura\"][\"iva\"][\"importe\"]}} € ({{$json[\"datosFactura\"][\"iva\"][\"porcentaje\"]}}%)\n- **Total**: {{$json[\"datosFactura\"][\"totalFactura\"]}} €\n\n### Líneas de Productos\n{% for linea in $json[\"datosFactura\"][\"lineasProductos\"] %}\n- **{{linea.codigo || \"Sin código\"}}**: {{linea.descripcion}} ({{linea.cantidad}} x {{linea.precioUnitario}} €)\n{% endfor %}\n\n### Análisis y Recomendaciones\n- **Tipo de Factura**: {{$json[\"recomendaciones\"][\"tipoFactura\"]}}\n- **Cuenta Contable Recomendada**: {{$json[\"recomendaciones\"][\"cuentaContable\"]}}\n- **Estado**: {% if $json[\"recomendaciones\"][\"erroresDetectados\"] %}⚠️ Con posibles errores{% else %}✅ Validada correctamente{% endif %}\n\n### Observaciones\n{{$json[\"recomendaciones\"][\"texto\"]}}",
        "responseCode": "200",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Respuesta HTTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Extraer Texto OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto OCR": {
      "main": [
        [
          {
            "node": "Analizar con LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar con LLM": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Analizar y Validar con LLM + MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar y Validar con LLM + MCP": {
      "main": [
        [
          {
            "node": "Procesar Respuesta LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta LLM": {
      "main": [
        [
          {
            "node": "Respuesta HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LLM",
      "color": "#ff00ff"
    },
    {
      "name": "MCP",
      "color": "#0099cc"
    },
    {
      "name": "Facturas",
      "color": "#ff9900"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-19T18:30:00.000Z",
  "versionId": "1"
}
