n8n/flujos/mi_json-qwen.json
{
  "name": "Cumplimiento RGPD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solicitud-rgpd",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "odooUrl",
              "value": "http://odoo:8069"
            },
            {
              "name": "odooDb",
              "value": "fresh_odoo_db"
            },
            {
              "name": "odooUid",
              "value": "2"
            },
            {
              "name": "odooPassword",
              "value": "admin"
            },
            {
              "name": "apiUrl",
              "value": "http://fastapi:8000/api/v1"
            },
            {
              "name": "authToken",
              "value": "Bearer {{$json[\"token\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"tipo_solicitud\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "acceso",
              "outputKey": "tipo",
              "output": "acceso"
            },
            {
              "value2": "rectificacion",
              "outputKey": "tipo",
              "output": "rectificacion"
            },
            {
              "value2": "supresion",
              "outputKey": "tipo",
              "output": "supresion"
            },
            {
              "value2": "limitacion",
              "outputKey": "tipo",
              "output": "limitacion"
            },
            {
              "value2": "portabilidad",
              "outputKey": "tipo",
              "output": "portabilidad"
            },
            {
              "value2": "oposicion",
              "outputKey": "tipo",
              "output": "oposicion"
            }
          ]
        },
        "fallbackOutput": "desconocido",
        "options": {}
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://odoo:8069/jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "method",
              "value": "call"
            },
            {
              "name": "params",
              "value": "={{ { \"service\": \"object\", \"method\": \"execute_kw\", \"args\": [ \"fresh_odoo_db\", $node[\"Set Variables\"].json[\"odooUid\"], $node[\"Set Variables\"].json[\"odooPassword\"], \"res.partner\", \"search_read\", [[\"email\", \"=\", $json[\"email\"]]], {\"fields\": [\"name\", \"email\", \"phone\", \"vat\", \"street\", \"city\", \"zip\", \"country_id\"]} ] } }}"
            },
            {
              "name": "id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Buscar Datos en Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://odoo:8069/jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "method",
              "value": "call"
            },
            {
              "name": "params",
              "value": "={{ { \"service\": \"object\", \"method\": \"execute_kw\", \"args\": [ \"fresh_odoo_db\", $node[\"Set Variables\"].json[\"odooUid\"], $node[\"Set Variables\"].json[\"odooPassword\"], \"res.partner\", \"write\", [[$json[\"partner_id\"]], $json[\"datos_actualizados\"]] ] } }}"
            },
            {
              "name": "id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Actualizar Datos en Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://odoo:8069/jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "method",
              "value": "call"
            },
            {
              "name": "params",
              "value": "={{ { \"service\": \"object\", \"method\": \"execute_kw\", \"args\": [ \"fresh_odoo_db\", $node[\"Set Variables\"].json[\"odooUid\"], $node[\"Set Variables\"].json[\"odooPassword\"], \"rgpd.request\", \"create\", [{ \"partner_id\": $json[\"partner_id\"], \"request_type\": $json[\"tipo_solicitud\"], \"request_date\": $now, \"state\": \"done\", \"notes\": $json[\"descripcion\"] }] ] } }}"
            },
            {
              "name": "id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Registrar Solicitud RGPD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Variables\"].json[\"apiUrl\"] + \"/notifications/send-email\"}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$node[\"Set Variables\"].json[\"authToken\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$json[\"email\"]}}"
            },
            {
              "name": "subject",
              "value": "Confirmación de solicitud RGPD - {{$json[\"tipo_solicitud\"]}}"
            },
            {
              "name": "body",
              "value": "Estimado/a {{$json[\"nombre\"]}}:\n\nHemos recibido y procesado su solicitud de derechos RGPD de tipo {{$json[\"tipo_solicitud\"]}}.\n\nSu solicitud ha sido registrada con el identificador {{$json[\"id\"]}} y ha sido procesada correctamente.\n\nSi necesita cualquier aclaración adicional, no dude en contactarnos.\n\nAtentamente,\nEquipo de Protección de Datos\nPelotazo ERP"
            }
          ]
        },
        "options": {}
      },
      "name": "Enviar Confirmación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Buscar Datos en Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Datos en Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Datos en Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Datos en Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Datos en Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Datos en Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Datos en Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Datos en Odoo": {
      "main": [
        [
          {
            "node": "Registrar Solicitud RGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Datos en Odoo": {
      "main": [
        [
          {
            "node": "Registrar Solicitud RGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Solicitud RGPD": {
      "main": [
        [
          {
            "node": "Enviar Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RGPD",
      "color": "#ff0000"
    },
    {
      "name": "Cumplimiento",
      "color": "#0000ff"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-19T16:49:00.000Z",
  "versionId": "1"
}
