n8n/flujos/mistral_file_watcher_workflow.json
{
  "name": "Mistral OCR File Watcher Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "/tmp/rgpd_uploads",
        "watchForFileTypes": "file",
        "options": {
          "recursive": false
        }
      },
      "id": "file-watcher",
      "name": "File Watcher",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "options": {}
      },
      "id": "read-file",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [-20, 300]
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "extractText",
        "model": "mistral-ocr-latest",
        "documentType": "document_url",
        "inputType": "binary",
        "binaryProperty": "data",
        "options": {
          "deleteFiles": true
        }
      },
      "id": "mistral-ocr",
      "name": "Mistral OCR",
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [140, 300],
      "credentials": {
        "mistralCloudApi": "Mistral Cloud API"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Formatear respuesta OCR con información del archivo\nconst fileData = $('File Watcher').first().json;\nconst ocrResult = $input.first();\n\n// Extraer texto del OCR\nlet extractedText = '';\nlet confidence = 0;\n\nif (ocrResult.json && ocrResult.json.text) {\n  extractedText = ocrResult.json.text;\n  confidence = ocrResult.json.confidence || 0;\n} else if (typeof ocrResult.json === 'string') {\n  extractedText = ocrResult.json;\n}\n\n// Estadísticas del texto\nconst wordCount = extractedText.split(/\\s+/).filter(word => word.length > 0).length;\nconst charCount = extractedText.length;\nconst lineCount = extractedText.split('\\n').length;\n\n// Respuesta estructurada\nconst response = {\n  success: true,\n  timestamp: new Date().toISOString(),\n  file_info: {\n    path: fileData.path,\n    name: fileData.name,\n    size: fileData.size,\n    modified: fileData.modified,\n    type: fileData.type\n  },\n  ocr_results: {\n    extracted_text: extractedText,\n    confidence: confidence,\n    text_analysis: {\n      character_count: charCount,\n      word_count: wordCount,\n      line_count: lineCount,\n      has_content: charCount > 0\n    }\n  },\n  processing_info: {\n    model_used: 'mistral-ocr-latest',\n    processed_at: new Date().toISOString(),\n    rgpd_compliant: true,\n    auto_processed: true\n  }\n};\n\nreturn response;"
      },
      "id": "format-response",
      "name": "Format OCR Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "operation": "delete",
        "path": "={{ $('File Watcher').first().json.path }}"
      },
      "id": "cleanup-file",
      "name": "Delete Processed File",
      "type": "n8n-nodes-base.fs",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "filePath": "/tmp/rgpd_results/{{ $('File Watcher').first().json.name }}_result.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "save-result",
      "name": "Save OCR Result",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [620, 300]
    }
  ],
  "connections": {
    "File Watcher": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR": {
      "main": [
        [
          {
            "node": "Format OCR Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OCR Response": {
      "main": [
        [
          {
            "node": "Delete Processed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Processed File": {
      "main": [
        [
          {
            "node": "Save OCR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "OCR"
    },
    {
      "name": "Mistral"
    },
    {
      "name": "FileWatcher"
    },
    {
      "name": "RGPD"
    }
  ]
}