n8n/flujos/mistral_ocr_working_workflow.json
{
  "name": "Mistral OCR HTTP Final",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c5d076d2-ce8c-4f4b-8719-e96aebd0091f",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 300],
      "webhookId": "c5d076d2-ce8c-4f4b-8719-e96aebd0091f"
    },
    {
      "parameters": {
        "jsCode": "// Convertir el archivo binario a base64\nconst binaryData = $input.first().binary.file;\nconst base64Data = binaryData.data;\n\n// Crear el payload para Mistral OCR\nconst payload = {\n  model: \"pixtral-12b-2409\",\n  messages: [\n    {\n      role: \"user\",\n      content: [\n        {\n          type: \"text\",\n          text: \"Extract all the text from this image using OCR. Return only the extracted text without any additional formatting or explanations.\"\n        },\n        {\n          type: \"image_url\",\n          image_url: {\n            url: `data:${binaryData.mimeType};base64,${base64Data}`\n          }\n        }\n      ]\n    }\n  ]\n};\n\nreturn { payload };"
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersUi": {
          "parameter": []
        },
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "id": "mistral-ocr-request",
      "name": "Mistral OCR Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "mistralCloudApi": {
          "apiKey": "qlsBKB80fbxr7YQPg9VnMKAdIIZKA11m",
          "name": "Mistral Cloud API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesar la respuesta de Mistral OCR\nconst response = $input.first().json;\n\nif (!response || !response.choices || !response.choices[0]) {\n  return {\n    success: false,\n    error: 'Invalid response from Mistral OCR',\n    raw_response: JSON.stringify(response)\n  };\n}\n\nconst extractedText = response.choices[0].message.content;\n\nif (!extractedText) {\n  return {\n    success: false,\n    error: 'No text extracted from the image',\n    raw_response: JSON.stringify(response)\n  };\n}\n\n// Crear respuesta formateada\nconst result = {\n  success: true,\n  timestamp: new Date().toISOString(),\n  extracted_text: extractedText,\n  text_stats: {\n    character_count: extractedText.length,\n    word_count: extractedText.split(/\\s+/).filter(word => word.length > 0).length,\n    line_count: extractedText.split('\\n').length\n  },\n  processing_info: {\n    model: response.model || 'pixtral-12b-2409',\n    usage: response.usage || null\n  },\n  raw_response: JSON.stringify(response)\n};\n\nreturn result;"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "// Manejar errores\nconst error = $input.first();\n\nconst errorResponse = {\n  success: false,\n  timestamp: new Date().toISOString(),\n  error: {\n    message: error.message || 'OCR processing failed',\n    type: 'OCR_ERROR',\n    details: error.error || 'Unknown error occurred during OCR processing'\n  },\n  raw_response: JSON.stringify(error)\n};\n\nreturn errorResponse;"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",  
      "typeVersion": 2,
      "position": [660, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "send-error-response",
      "name": "Send Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Mistral OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-23T12:45:00.000Z",
  "versionId": "1"
}
