n8n/flujos/mistral_webhook_rgpd_workflow.json
{
  "name": "Mistral OCR RGPD Webhook Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mistral-ocr-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-160, 300],
      "webhookId": "mistral-ocr-webhook-2025"
    },
    {
      "parameters": {
        "jsCode": "// Procesar datos del webhook y preparar para Mistral OCR\nconst inputData = $input.all();\nconst webhookData = inputData[0];\n\n// Extraer metadata si existe\nlet metadata = {};\nif (webhookData.json && webhookData.json.metadata) {\n  try {\n    metadata = typeof webhookData.json.metadata === 'string' \n      ? JSON.parse(webhookData.json.metadata) \n      : webhookData.json.metadata;\n  } catch (e) {\n    console.log('Error parsing metadata:', e);\n  }\n}\n\n// Preparar datos para el nodo Mistral\nconst output = {\n  metadata: metadata,\n  file_info: {\n    filename: webhookData.binary?.file?.fileName || 'unknown',\n    mimeType: webhookData.binary?.file?.mimeType || 'image/png',\n    fileSize: webhookData.binary?.file?.fileSize || 0\n  },\n  processing_timestamp: new Date().toISOString(),\n  rgpd_processed: true\n};\n\n// Pasar el archivo binario\nif (webhookData.binary && webhookData.binary.file) {\n  $binary.file = webhookData.binary.file;\n}\n\nreturn output;"
      },
      "id": "prepare-data",
      "name": "Prepare Data for OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, 300]
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "extractText",
        "model": "mistral-ocr-latest",
        "documentType": "document_url",
        "inputType": "binary",
        "binaryProperty": "file",
        "options": {
          "deleteFiles": true
        }
      },
      "id": "mistral-ocr",
      "name": "Mistral OCR",
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [200, 300],
      "credentials": {
        "mistralCloudApi": "Mistral Cloud API"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Formatear respuesta del OCR de Mistral\nconst inputData = $input.all();\nconst ocrResult = inputData[0];\nconst preparedData = $node[\"Prepare Data for OCR\"].json;\n\n// Extraer texto del resultado de Mistral\nlet extractedText = '';\nlet confidence = 0;\nlet pages = 1;\nlet language = 'unknown';\n\nif (ocrResult && ocrResult.json) {\n  // Mistral OCR devuelve el texto en diferentes formatos\n  if (ocrResult.json.text) {\n    extractedText = ocrResult.json.text;\n  } else if (ocrResult.json.content) {\n    extractedText = ocrResult.json.content;\n  } else if (typeof ocrResult.json === 'string') {\n    extractedText = ocrResult.json;\n  }\n  \n  // Extraer metadata adicional si está disponible\n  if (ocrResult.json.confidence) {\n    confidence = ocrResult.json.confidence;\n  }\n  \n  if (ocrResult.json.pages) {\n    pages = ocrResult.json.pages;\n  }\n}\n\n// Detectar idioma básico\nif (extractedText) {\n  const spanishWords = ['el', 'la', 'de', 'que', 'y', 'en', 'un', 'es', 'se', 'no', 'te', 'lo', 'le', 'da', 'su', 'por', 'son', 'con', 'para', 'al', 'del', 'los', 'las', 'una', 'como', 'pero', 'sus', 'han', 'fue', 'ser', 'está', 'todo', 'más', 'muy', 'sin', 'sobre', 'también', 'hasta', 'año', 'años', 'dos', 'puede', 'entre', 'cada', 'hace', 'otro', 'otros', 'nueva', 'nuevo', 'gran', 'tiempo', 'trabajo', 'vida', 'día', 'días', 'parte', 'general', 'caso', 'mismo', 'manera', 'bien', 'donde', 'mientras', 'según', 'estado', 'forma', 'tanto', 'agua', 'lugar', 'hombre', 'mundo', 'casa', 'país', 'grupo', 'empresa', 'gobierno', 'persona', 'personas', 'ciudad', 'nacional', 'social', 'público', 'económico', 'política', 'internacional', 'desarrollo', 'sistema', 'proceso', 'información', 'servicio', 'servicios', 'producto', 'productos', 'mercado', 'precio', 'precios', 'cliente', 'clientes', 'factura', 'número', 'fecha', 'nombre', 'dirección', 'teléfono', 'email', 'euros', 'total', 'subtotal', 'iva', 'descuento'];\n  const englishWords = ['the', 'be', 'to', 'of', 'and', 'a', 'in', 'that', 'have', 'i', 'it', 'for', 'not', 'on', 'with', 'he', 'as', 'you', 'do', 'at', 'this', 'but', 'his', 'by', 'from', 'they', 'she', 'or', 'an', 'will', 'my', 'one', 'all', 'would', 'there', 'their', 'what', 'so', 'up', 'out', 'if', 'about', 'who', 'get', 'which', 'go', 'me', 'when', 'make', 'can', 'like', 'time', 'no', 'just', 'him', 'know', 'take', 'people', 'into', 'year', 'your', 'good', 'some', 'could', 'them', 'see', 'other', 'than', 'then', 'now', 'look', 'only', 'come', 'its', 'over', 'think', 'also', 'back', 'after', 'use', 'two', 'how', 'our', 'work', 'first', 'well', 'way', 'even', 'new', 'want', 'because', 'any', 'these', 'give', 'day', 'most', 'us', 'is', 'water', 'long', 'find', 'here', 'thing', 'great', 'man', 'world', 'life', 'still', 'public', 'human', 'get', 'old', 'country', 'hand', 'part', 'child', 'eye', 'woman', 'place', 'work', 'week', 'case', 'point', 'government', 'company', 'number', 'group', 'problem', 'fact', 'invoice', 'date', 'name', 'address', 'phone', 'email', 'total', 'subtotal', 'tax', 'discount'];\n  \n  const textLower = extractedText.toLowerCase();\n  let spanishCount = 0;\n  let englishCount = 0;\n  \n  spanishWords.forEach(word => {\n    if (textLower.includes(word)) spanishCount++;\n  });\n  \n  englishWords.forEach(word => {\n    if (textLower.includes(word)) englishCount++;\n  });\n  \n  language = spanishCount > englishCount ? 'es' : (englishCount > spanishCount ? 'en' : 'unknown');\n}\n\n// Estadísticas del texto\nconst textStats = {\n  characters: extractedText.length,\n  words: extractedText.split(/\\s+/).filter(word => word.length > 0).length,\n  lines: extractedText.split('\\n').length,\n  language: language\n};\n\n// Formatear respuesta final\nconst response = {\n  success: true,\n  message: 'OCR procesado exitosamente con Mistral AI',\n  ocr_result: {\n    extracted_text: extractedText,\n    confidence: confidence,\n    pages: pages,\n    language: language,\n    text_stats: textStats\n  },\n  processing_info: {\n    timestamp: new Date().toISOString(),\n    model_used: 'mistral-ocr-latest',\n    rgpd_compliant: true,\n    file_info: preparedData.file_info || {},\n    metadata: preparedData.metadata || {}\n  },\n  raw_mistral_response: ocrResult.json\n};\n\nreturn response;"
      },
      "id": "format-response",
      "name": "Format OCR Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Respond with Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Manejar errores del OCR\nconst error = $input.all()[0];\n\nconst errorResponse = {\n  success: false,\n  message: 'Error en el procesamiento OCR con Mistral AI',\n  error: {\n    type: 'OCR_ERROR',\n    details: error.error?.message || error.message || 'Error desconocido',\n    timestamp: new Date().toISOString()\n  },\n  processing_info: {\n    model_used: 'mistral-ocr-latest',\n    rgpd_compliant: true,\n    failed_at: 'mistral_ocr_processing'\n  }\n};\n\nreturn errorResponse;"
      },
      "id": "handle-error",
      "name": "Handle OCR Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-error",
      "name": "Respond with Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [560, 460]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Data for OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for OCR": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR": {
      "main": [
        [
          {
            "node": "Format OCR Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Handle OCR Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OCR Response": {
      "main": [
        [
          {
            "node": "Respond with Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle OCR Error": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": {
      "active": false
    }
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-27T10:00:00.000Z",
      "updatedAt": "2025-01-27T10:00:00.000Z",
      "id": "ocr-tag",
      "name": "OCR"
    },
    {
      "createdAt": "2025-01-27T10:00:00.000Z",
      "updatedAt": "2025-01-27T10:00:00.000Z",
      "id": "mistral-tag",
      "name": "Mistral"
    },
    {
      "createdAt": "2025-01-27T10:00:00.000Z",
      "updatedAt": "2025-01-27T10:00:00.000Z",
      "id": "rgpd-tag",
      "name": "RGPD"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-27T10:00:00.000Z",
  "versionId": "1"
}
