n8n/flujos/mistral_webhook_workflow.json
{
  "name": "Mistral OCR Webhook Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mistral-ocr-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-160, 300],
      "webhookId": "mistral-ocr-webhook-2025"
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "extractText",
        "model": "mistral-ocr-latest",
        "documentType": "document_url",
        "inputType": "binary",
        "binaryProperty": "file",
        "options": {
          "deleteFiles": true
        }
      },
      "id": "mistral-ocr",
      "name": "Mistral OCR",
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [100, 300],
      "credentials": {
        "mistralCloudApi": "Mistral Cloud API"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Formatear respuesta OCR con datos enmascarados\nconst webhookData = $('Webhook Trigger').first().json;\nconst ocrResult = $input.first();\n\n// Extraer texto del OCR\nlet extractedText = '';\nlet confidence = 0;\n\nif (ocrResult.json && ocrResult.json.text) {\n  extractedText = ocrResult.json.text;\n  confidence = ocrResult.json.confidence || 0;\n} else if (typeof ocrResult.json === 'string') {\n  extractedText = ocrResult.json;\n}\n\n// Estadísticas del texto\nconst wordCount = extractedText.split(/\\s+/).filter(word => word.length > 0).length;\nconst charCount = extractedText.length;\nconst lineCount = extractedText.split('\\n').length;\n\n// Respuesta estructurada con datos originales del webhook\nconst response = {\n  success: true,\n  timestamp: new Date().toISOString(),\n  original_request: {\n    masked_data: webhookData.masked_data || false,\n    file_info: webhookData.file_info || {},\n    processing_type: 'RGPD_OCR'\n  },\n  ocr_results: {\n    extracted_text: extractedText,\n    confidence: confidence,\n    text_analysis: {\n      character_count: charCount,\n      word_count: wordCount,\n      line_count: lineCount,\n      has_content: charCount > 0\n    }\n  },\n  processing_info: {\n    model_used: 'mistral-ocr-latest',\n    processed_at: new Date().toISOString(),\n    rgpd_compliant: true\n  }\n};\n\nreturn response;"
      },
      "id": "format-response",
      "name": "Format OCR Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Manejar errores del OCR\nconst webhookData = $('Webhook Trigger').first().json;\nconst errorData = $input.first();\n\nconst errorResponse = {\n  success: false,\n  timestamp: new Date().toISOString(),\n  error: {\n    message: errorData.error?.message || 'OCR processing failed',\n    type: 'OCR_ERROR',\n    details: errorData.error || 'Unknown error occurred during OCR processing'\n  },\n  original_request: {\n    masked_data: webhookData.masked_data || false,\n    file_info: webhookData.file_info || {},\n    processing_type: 'RGPD_OCR'\n  },\n  suggestions: [\n    'Ensure the document/image is clear and readable',\n    'Check if the file format is supported',\n    'Try with a different document if the issue persists'\n  ]\n};\n\nreturn errorResponse;"
      },
      "id": "handle-error",
      "name": "Handle OCR Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Respond with Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [620, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-error",
      "name": "Respond with Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [620, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Mistral OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral OCR": {
      "main": [
        [
          {
            "node": "Format OCR Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Handle OCR Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OCR Response": {
      "main": [
        [
          {
            "node": "Respond with Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle OCR Error": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "OCR"
    },
    {
      "name": "Mistral"
    },
    {
      "name": "RGPD"
    }
  ]
}