n8n/flujos/procesar_factura_ocr.json
{
  "name": "Procesar Factura OCR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "procesar-factura",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Set Variables\"].json[\"apiUrl\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$node[\"Set Variables\"].json[\"authToken\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "multipartFormData",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}",
              "contentType": "={{ $binary.mimeType }}"
            },
            {
              "name": "create_in_odoo",
              "value": "={{ $node[\"Set Variables\"].json[\"createInOdoo\"] }}"
            },
            {
              "name": "supplier_name",
              "value": "={{ $node[\"Set Variables\"].json[\"supplierName\"] }}"
            },
            {
              "name": "supplier_vat",
              "value": "={{ $node[\"Set Variables\"].json[\"supplierVat\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Procesar OCR en FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "apiUrl",
              "value": "http://fastapi:8000/api/v1/mistral-free-ocr/process-invoice"
            },
            {
              "name": "authToken",
              "value": "Bearer {{$json[\"token\"]}}"
            },
            {
              "name": "createInOdoo",
              "value": "true"
            },
            {
              "name": "supplierName",
              "value": "={{$json[\"supplier_name\"]}}"
            },
            {
              "name": "supplierVat",
              "value": "={{$json[\"supplier_vat\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"success\"]}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://odoo:8069/jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "method",
              "value": "call"
            },
            {
              "name": "params",
              "value": "={{ { \"service\": \"object\", \"method\": \"execute_kw\", \"args\": [ \"fresh_odoo_db\", $node[\"Set Variables\"].json[\"odooUid\"], $node[\"Set Variables\"].json[\"odooPassword\"], \"account.move\", \"search_read\", [[\"id\", \"=\", $json[\"invoice_id\"]]], {\"fields\": [\"name\", \"partner_id\", \"amount_total\", \"state\"]} ] } }}"
            },
            {
              "name": "id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Verificar Factura en Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://fastapi:8000/api/v1/notifications/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$node[\"Set Variables\"].json[\"authToken\"]}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Error al procesar la factura: {{$json[\"error\"]}}"
            },
            {
              "name": "type",
              "value": "error"
            }
          ]
        },
        "options": {}
      },
      "name": "Notificar Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Procesar OCR en FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar OCR en FastAPI": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Verificar Factura en Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "OCR",
      "color": "#00cc00"
    },
    {
      "name": "Facturas",
      "color": "#ff9900"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-19T16:49:00.000Z",
  "versionId": "1"
}
