n8n/flujos/servidor_mcp_herramientas.json
{
  "name": "Servidor MCP para Herramientas de Procesamiento de Facturas",
  "nodes": [
    {
      "parameters": {
        "port": 3000,
        "path": "/v1/mcp",
        "options": {}
      },
      "name": "MCP Server Trigger",
      "type": "n8n-nodes-langchain.mcptrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionName": "validar_cif_nif",
        "description": "Valida un CIF o NIF español y verifica que el dígito de control sea correcto",
        "inputParameters": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"numero\": {\n      \"type\": \"string\",\n      \"description\": \"El CIF o NIF a validar\"\n    }\n  },\n  \"required\": [\"numero\"]\n}",
        "jsCode": "// Función para validar CIF/NIF español\nfunction validarCifNif(numero) {\n  // Eliminar espacios y convertir a mayúsculas\n  numero = numero.trim().toUpperCase();\n  \n  // Expresión regular para validar formato\n  const regexNIF = /^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKE]$/i;\n  const regexCIF = /^[ABCDEFGHJKLMNPQRSUVW][0-9]{7}[0-9A-J]$/i;\n  \n  // Verificar si es un NIF\n  if (regexNIF.test(numero)) {\n    // Algoritmo para validar NIF\n    const letras = 'TRWAGMYFPDXBNJZSQVHLCKE';\n    const numero_sin_letra = numero.substring(0, 8);\n    const letra = numero.charAt(8);\n    const posicion = parseInt(numero_sin_letra) % 23;\n    const letra_calculada = letras.charAt(posicion);\n    \n    if (letra === letra_calculada) {\n      return {\n        valido: true,\n        tipo: 'NIF',\n        mensaje: 'NIF válido'\n      };\n    } else {\n      return {\n        valido: false,\n        tipo: 'NIF',\n        mensaje: `NIF inválido. La letra correcta debería ser ${letra_calculada}`\n      };\n    }\n  }\n  \n  // Verificar si es un CIF\n  if (regexCIF.test(numero)) {\n    // Algoritmo para validar CIF\n    const letra_inicial = numero.charAt(0);\n    const digitos = numero.substring(1, 8);\n    const control = numero.charAt(8);\n    \n    // Calcular dígito de control\n    let suma_a = 0;\n    let suma_b = 0;\n    \n    for (let i = 0; i < digitos.length; i++) {\n      const digito = parseInt(digitos.charAt(i));\n      \n      if (i % 2 === 0) {\n        // Posiciones pares\n        const temp = digito * 2;\n        suma_a += temp < 10 ? temp : temp - 9;\n      } else {\n        // Posiciones impares\n        suma_b += digito;\n      }\n    }\n    \n    const suma_total = suma_a + suma_b;\n    const unidad = suma_total % 10;\n    const digito_control = unidad === 0 ? 0 : 10 - unidad;\n    \n    // Verificar si el control es una letra o un número\n    const letras_control = 'JABCDEFGHI';\n    const es_letra_control = isNaN(parseInt(control));\n    \n    if (es_letra_control) {\n      // Control es una letra\n      if (control === letras_control.charAt(digito_control)) {\n        return {\n          valido: true,\n          tipo: 'CIF',\n          mensaje: 'CIF válido'\n        };\n      } else {\n        return {\n          valido: false,\n          tipo: 'CIF',\n          mensaje: `CIF inválido. El control correcto debería ser ${letras_control.charAt(digito_control)}`\n        };\n      }\n    } else {\n      // Control es un número\n      if (parseInt(control) === digito_control) {\n        return {\n          valido: true,\n          tipo: 'CIF',\n          mensaje: 'CIF válido'\n        };\n      } else {\n        return {\n          valido: false,\n          tipo: 'CIF',\n          mensaje: `CIF inválido. El control correcto debería ser ${digito_control}`\n        };\n      }\n    }\n  }\n  \n  // Si no coincide con ningún formato\n  return {\n    valido: false,\n    tipo: 'Desconocido',\n    mensaje: 'Formato de CIF/NIF no válido'\n  };\n}\n\n// Procesar la entrada\nconst numero = $input.item.json.numero;\n\nif (!numero) {\n  return {\n    json: {\n      error: 'Se requiere un número de CIF/NIF'\n    }\n  };\n}\n\nconst resultado = validarCifNif(numero);\n\nreturn {\n  json: resultado\n};"
      },
      "name": "Validar CIF/NIF",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://odoo:8069/api/v1/res.partner",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.ODOO_API_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "=[['vat', '=', '{{$json[\"vat\"]}}'], ['active', '=', true]]"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Buscar Proveedor por VAT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "functionName": "validar_factura",
        "description": "Valida los datos de una factura, verificando que los totales sean correctos y que el formato sea adecuado",
        "inputParameters": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"baseImponible\": {\n      \"type\": \"number\",\n      \"description\": \"Base imponible de la factura\"\n    },\n    \"porcentajeIva\": {\n      \"type\": \"number\",\n      \"description\": \"Porcentaje de IVA aplicado\"\n    },\n    \"importeIva\": {\n      \"type\": \"number\",\n      \"description\": \"Importe del IVA\"\n    },\n    \"totalFactura\": {\n      \"type\": \"number\",\n      \"description\": \"Total de la factura\"\n    },\n    \"recargo\": {\n      \"type\": \"number\",\n      \"description\": \"Importe del recargo de equivalencia (opcional)\"\n    },\n    \"porcentajeRecargo\": {\n      \"type\": \"number\",\n      \"description\": \"Porcentaje del recargo de equivalencia (opcional)\"\n    }\n  },\n  \"required\": [\"baseImponible\", \"porcentajeIva\", \"importeIva\", \"totalFactura\"]\n}",
        "jsCode": "// Función para validar los datos de una factura\nfunction validarFactura(datos) {\n  const {\n    baseImponible,\n    porcentajeIva,\n    importeIva,\n    totalFactura,\n    recargo = 0,\n    porcentajeRecargo = 0\n  } = datos;\n  \n  // Redondear a 2 decimales para evitar problemas de precisión\n  const redondear = (valor) => Math.round(valor * 100) / 100;\n  \n  // Calcular valores esperados\n  const ivaEsperado = redondear(baseImponible * porcentajeIva / 100);\n  const recargoEsperado = redondear(baseImponible * porcentajeRecargo / 100);\n  const totalEsperado = redondear(baseImponible + ivaEsperado + recargoEsperado);\n  \n  // Verificar IVA\n  const ivaValido = Math.abs(ivaEsperado - importeIva) < 0.01;\n  \n  // Verificar recargo si está presente\n  const recargoValido = recargo === 0 || Math.abs(recargoEsperado - recargo) < 0.01;\n  \n  // Verificar total\n  const totalValido = Math.abs(totalEsperado - totalFactura) < 0.01;\n  \n  // Preparar resultado\n  const resultado = {\n    valido: ivaValido && recargoValido && totalValido,\n    errores: [],\n    valores_calculados: {\n      iva_calculado: ivaEsperado,\n      recargo_calculado: recargoEsperado,\n      total_calculado: totalEsperado\n    }\n  };\n  \n  // Añadir errores específicos\n  if (!ivaValido) {\n    resultado.errores.push({\n      campo: 'importeIva',\n      mensaje: `El IVA no es correcto. Debería ser ${ivaEsperado.toFixed(2)}€ (${porcentajeIva}% de ${baseImponible.toFixed(2)}€)`\n    });\n  }\n  \n  if (!recargoValido && recargo > 0) {\n    resultado.errores.push({\n      campo: 'recargo',\n      mensaje: `El recargo no es correcto. Debería ser ${recargoEsperado.toFixed(2)}€ (${porcentajeRecargo}% de ${baseImponible.toFixed(2)}€)`\n    });\n  }\n  \n  if (!totalValido) {\n    resultado.errores.push({\n      campo: 'totalFactura',\n      mensaje: `El total no es correcto. Debería ser ${totalEsperado.toFixed(2)}€ (${baseImponible.toFixed(2)}€ + ${ivaEsperado.toFixed(2)}€ + ${recargoEsperado.toFixed(2)}€)`\n    });\n  }\n  \n  return resultado;\n}\n\n// Procesar la entrada\nconst datos = {\n  baseImponible: $input.item.json.baseImponible,\n  porcentajeIva: $input.item.json.porcentajeIva,\n  importeIva: $input.item.json.importeIva,\n  totalFactura: $input.item.json.totalFactura,\n  recargo: $input.item.json.recargo || 0,\n  porcentajeRecargo: $input.item.json.porcentajeRecargo || 0\n};\n\n// Validar que todos los campos requeridos estén presentes\nconst camposRequeridos = ['baseImponible', 'porcentajeIva', 'importeIva', 'totalFactura'];\nconst camposFaltantes = camposRequeridos.filter(campo => datos[campo] === undefined);\n\nif (camposFaltantes.length > 0) {\n  return {\n    json: {\n      valido: false,\n      errores: [{\n        campo: 'general',\n        mensaje: `Faltan los siguientes campos requeridos: ${camposFaltantes.join(', ')}`\n      }]\n    }\n  };\n}\n\n// Validar que los valores sean numéricos\nfor (const campo in datos) {\n  if (datos[campo] !== undefined && isNaN(datos[campo])) {\n    return {\n      json: {\n        valido: false,\n        errores: [{\n          campo,\n          mensaje: `El campo ${campo} debe ser un número`\n        }]\n      }\n    };\n  }\n}\n\nconst resultado = validarFactura(datos);\n\nreturn {\n  json: resultado\n};"
      },
      "name": "Validar Factura",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://odoo:8069/api/v1/account.move",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.ODOO_API_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "=[['move_type', '=', 'in_invoice'], ['ref', '=', '{{$json[\"numero_factura\"]}}'], ['partner_id.vat', '=', '{{$json[\"vat\"]}}'], ['state', '!=', 'cancel']]"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Verificar Factura Duplicada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://odoo:8069/api/v1/product.product",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.ODOO_API_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "=[['default_code', '=', '{{$json[\"codigo\"]}}'], ['active', '=', true]]"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "name": "Buscar Producto por Código",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        1000
      ]
    }
  ],
  "connections": {
    "MCP Server Trigger": {
      "main": [
        [
          {
            "node": "Validar CIF/NIF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Proveedor por VAT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Factura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Factura Duplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Producto por Código",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "MCP",
      "color": "#0099cc"
    },
    {
      "name": "Herramientas",
      "color": "#00cc00"
    },
    {
      "name": "Facturas",
      "color": "#ff9900"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-19T19:15:00.000Z",
  "versionId": "1"
}
